extends layout

block content
 
 p(style='font-size:16px', ;='') Registration
 br
 span(style='color:red;font-weight:bold') #{error}
 br
 br
 form(method='POST', action='/users/adduser')
  input(type='text', name='name',placeholder="Name", required) 
  br
  input(type='number', name='mobile', placeholder="Mobile",required)
  br
  input(type='email', name='email',placeholder = "Email",required)
  br
  br
  button(type='submit') Save
